[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
requests = "*"
pdfplumber = "*"
tabulate = "*"
colorama = "*"
python-dotenv = "*"
schedule = "*"
click = "*"
flask = "*"
sqlalchemy = "*"
pandas = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
